.inputs{
    line-height: 26pt;
    text-align: center;
    font-size: large;
    margin: 15px;
}

.graph-containter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.graph{
    
    border-style: solid;
    border-radius: 15px;
    width: 810px;
    height: 810px;
    order: 2;
}

.presets{
    
    /* margin: auto; */

    text-align: right;
    line-height: 40pt;
    padding: 20px;
    font-size: 30px;
    order: 1;
    flex: 1;
    
}
.presets > button{
    padding: 5px;
}

.block-3{

    line-height: 26px;
    padding: 20px;
    font-size: large;
    order: 3;
    flex: 1;

}
