.inputs{
    line-height: 26pt;
    text-align: center;
    font-size: large;
    margin: 15px;
}

.graph-containter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.graph{
    
    border-style: solid;
    border-radius: 15px;
    width: 810px;
    height: 810px;
    order: 2;
}

.presets{
    
    /* margin: auto; */

    text-align: right;
    line-height: 40pt;
    padding: 20px;
    font-size: 30px;
    order: 1;
    flex: 1;
    
}
.presets > button{
    padding: 5px;
}

.block-3{
    
    line-height: 26px;
    padding: 20px;
    font-size: large;
    order: 3;
    flex: 1;

}

.calculator{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 545px;
    border-radius: 15px;
    border: solid;
    
}

.calculatorScreen{
    
    border-bottom: solid;
    border-radius: 10px;
    flex: 1;
}

.rows{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.rows button{
    font-size: 20px;
    padding: 15px;
}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
}

.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
}

.row3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
}

.row4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
}

.Equal button{
    padding-left: 50px;
    padding-right: 50px;
}

/* .calculator output{

    width: 350px;
    height: 200px;
    margin: auto;
    margin-top: 5px;
    border: solid;
    border-radius: 10px;
    background: grey;
    flex: 1;

}

.calculatorButtons{
    
    background: green;
    flex: 2;
}

.calculatorButtons button{
    
    font-size: 20px;
    padding: 10px;
    
} */

/* .row1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */
